<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add a Habit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Name of Habit" [(ngModel)]="title" class="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="description" [(ngModel)]="description"></ion-input>
  </ion-item>
</ion-content>